shallow_clone: true

branches:
  only:
    - master
    - appveyor

os:
  - Visual Studio 2022
  - Ubuntu2204

environment:
  matrix:
    - TOOLSET: vs2022

# 自定义构建步骤
build_script:
  # Windows 下执行
  - cmd: |
      if "%APPVEYOR_BUILD_WORKER_IMAGE%"=="Visual Studio 2022" (
          call install_windows.bat
      )
  # Linux 下执行
  - sh: |
      if [ "$APPVEYOR_BUILD_WORKER_IMAGE" = "Ubuntu2204" ]; then
          bash install_linux.sh
      fi
